@using Microsoft.AspNetCore.Identity
@using approvalworkflow.Database
@inject SignInManager<User> SignInManager
@model UserRequestDashboardViewModel
@{
    
    ViewData["Title"] = SignInManager.IsSignedIn(User) ? "Welcome": "Hello";
}

<div class="text-center">
    <h1 class="display-6 title">Request Dashboard</h1>
    <div class="menu-options">
        <div class="menu-option">
            <a class="btn btn-primary" asp-controller="Request" asp-action="Create" class="text-primary">
                <i class="fa-solid fa-plus"></i>
                <span>Submit request</span>
            </a>
        </div>
        <partial name="_FilterPartial", model="Model.PageSize"/>
    </div>
    <div id="records">
        <partial name="_TablePartial", model="Model" />
    </div>
</div>
<div id="modal-container">
    @await Html.PartialAsync("_ConfirmDeletePartial")
</div>

@section Scripts{
    <script>
        const getUserRequests = function(){
            //send get request
            const dashboardUrl = `@Url.Action("Index", "Home")`;
            $('#loading').removeClass('d-none');
            $.ajax(dashboardUrl,{
                method: "GET",
                data: {
                    pageSize: () => $('#page-size-dropdown').val(),
                    page: 1
                },
                success: function(response){
                    $('#records').html(response);
                },
                complete: function(){
                    $('#loading').addClass('d-none');
                }
            });
        };

        jQuery(function(){
            $('#records').on('click', function(e){
                //confirm delete
                const target = e.target;
                if(!$(target).is('.delete-btn')){
                    return;
                }
                const requestId = $(target).data('id');
                $('#modal-info').html(`<strong><p>Request &num;${requestId} - ${$(target).data('title')}</p></strong>`);
                $('#modal-info').removeData();
                $('#modal-info').data('requestId', requestId);
                $('#confirmDeleteModal').modal('toggle');
            });

            $('#records').on('click', function(e){
                //view request by clicking on the tr
                const target = e.target;
                const requestId = $(target).closest('tr').data('id');
                if(!$(target).is('.request-info')){
                    return;
                }
                //redirect
                window.location.href = `/Requests/View/${requestId}`;
            });

            //delete confirmed
            $('#delete-form').submit(function(e){
                e.preventDefault();
                const requestId = $('#modal-info').data('requestId');
                let deleteUrl = `@Url.Action("Delete", "Requests")/${requestId}`;
                $.ajax(deleteUrl, {
                    method: "POST",
                    success: function(){
                        getUserRequests();
                        $('#confirmDeleteModal').modal('toggle');
                    }
                });
            });

            $('#page-size-dropdown').change(getUserRequests);
        })
    </script>
}
   

