@using Microsoft.AspNetCore.Identity
@using approvalworkflow.Database
@using approvalworkflow.Services
@inject SignInManager<User> SignInManager
@inject UIService UIService
@model UserRequestDashboardViewModel
@{

    ViewData["Title"] = SignInManager.IsSignedIn(User) ? "Welcome" : "Hello";
}

<div class="text-center">
    <h1 class="display-6 title">Request Dashboard</h1>
    <div class="menu-options">
        <div class="menu-option">
            <a class="btn btn-primary" asp-controller="Request" asp-action="Create" class="text-primary">
                <i class="fa-solid fa-plus"></i>
                <span>Submit request</span>
            </a>
        </div>
        <partial name="_FilterPartial" , model="Model.PageSize" />
    </div>
    <div>
        <div id="records">
            <partial name="_TablePartial" , model="Model" />
        </div>
    </div>

</div>
<div id="modal-container">
    @await Html.PartialAsync("_ConfirmDeletePartial")
</div>
<div id="request-details-container"></div>

@section Scripts {
    <script>
        const getUserRequests = function () {
            //send get request
            const dashboardUrl = `@Url.Action("Index", "Home")`;
            $('#loading').removeClass('d-none');
            $.ajax(dashboardUrl, {
                method: "GET",
                data: {
                    pageSize: () => $('#page-size-dropdown').val(),
                    page: 1,
                    status: () => $('#filter-status-dropdown').data('selected')
                },
                success: function (response) {
                    $('#records').html(response);
                },
                complete: function () {
                    $('#loading').addClass('d-none');
                }
            });
        };

        jQuery(function () {
            //confirm delete
            $('#records').on('click', '.delete-btn', function () {
                const requestId = $(this).data('id');
                $('#modal-info').html(`<strong><p>Request &num;${requestId} - ${$(this).data('title')}</p></strong>`);
                $('#modal-info').removeData();
                $('#modal-info').data('requestId', requestId);
                $('#confirmDeleteModal').modal('toggle');
            });

            //view request
            $('#records').on('click', '.request-info', function () {
                //view request by clicking on the tr
                const requestId = $(this).closest('tr').data('id');
                //get info for request
                $('#loading').removeClass('d-none');
                $.get(`/Requests/View/${requestId}`, function (response) {
                    $('#loading').addClass('d-none');
                    $('#request-details-container').html(response);
                    $('#view-request-modal').modal('toggle');
                });
                //redirect
                //window.location.href = `/Requests/View/${requestId}`;
            });

            //handle change in rows per page 
            $('#records').on('change', '#page-size-dropdown', getUserRequests);

            //delete confirmed
            $('#delete-form').submit(function (e) {
                e.preventDefault();
                const requestId = $('#modal-info').data('requestId');
                let deleteUrl = `@Url.Action("Delete", "Requests")/${requestId}`;
                $.ajax(deleteUrl, {
                    method: "POST",
                    success: function () {
                        getUserRequests();
                        $('#confirmDeleteModal').modal('toggle');
                    }
                });
            });

            //filter by status
            $('#status-dropdown .dropdown-item').on('click', function (e) {
                e.preventDefault();
                const status = $(this).attr('id');
                
                $(`#status-dropdown .dropdown-item#${status}`).toggleClass('active');

                const statusFilterDropdown = $('#filter-status-dropdown');
                const previousStatus = statusFilterDropdown.data('selected');
                if (!previousStatus || previousStatus !== status) {
                    statusFilterDropdown.data('selected', $(this).data('status'));
                }

                previousStatus !== status ?
                    $(`#${previousStatus}`).removeClass('active')
                    : statusFilterDropdown.data('selected', null); //reset the filter

                getUserRequests();
            });

        })
    </script>
}
