@using approvalworkflow.Services
@inject UIService UIService
@model int
<nav class="navbar">
    <div class="paginator">
        <div class="page-size">
            <label>Show rows per page</label>
            <select id="page-size-dropdown">
                @foreach(var pageSize in UIService.PaginatorPageSizes)
                {
                    var text = pageSize == 0 ? "All" : pageSize.ToString();
                    if(pageSize == Model)
                    {
                        <option value="@pageSize" selected>@text</option>
                    }
                    else
                    {
                        <option value="@pageSize">@text</option>
                    }
                }
            </select>
        </div>    
    </div>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>
