@using approvalworkflow.Enums
@using approvalworkflow.Services
@inject UIService UIService
@model int
<nav class="navbar">
    <span id="current-filter" class="badge rounded-pill bg-primary d-none">Draft</span>
    <div class="dropdown">
        <a class="btn dropdown-toggle" href="#" role="button" id="filter-status-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-filter"></i>
        </a>
        <ul id="status-dropdown" class="dropdown-menu" aria-labelledby="filter-status-dropdown">
            @foreach(var status in UIService.Statuses(typeof(RequestStatus)))
            {
                <li><a class="dropdown-item" href="#" id="@status" data-status="@status">@status</a></li>
            }
        </ul>
    </div>
    <form class="d-flex" id="search-request-form">
        <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>
